button.btn {
    margin-right: 0.5em;
}

button.btn-block {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

div.row {
    margin-top: 1em;
}

select.dropdown {
    margin-right: 0.5em;
}

textarea.form-control {
    margin-top: 1em;
}

