<html lang="en">

<head>
	<title>{% block title %}{% endblock title %}</title>
	<meta charset="utf-8">
	<meta name="viewpoint" content="width=device-width, initial-=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="shortcut icon" href="{{ url_for('static', filename='icon/favicon.ico') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	{% block styles %}
		{{ bootstrap.load_css() }}
	{% endblock styles%}
	{% block head %}
	{% endblock head %}
</head>

<body>
	<nav class="navbar navbar-expand-sm bg-light">
		<a class="navbar-brand" href="{{url_for('home')}}">IM Project</a>
		<div>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{url_for('speech_to_text')}}">Speech to Text</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{url_for('TTR')}}">Reasoning</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{url_for('TTS')}}">Text to Speech</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{url_for('OTA')}}">Owl to Ace</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{url_for('OTS')}}">Owl to Speech</a>
				</li>
			</ul>
		</div>
	</nav>
	<div style="padding:1em;">
		{% block content %}{% endblock content %}
	</div>
	{% block scripts %}
		<!-- Optional JavaScript -->
		{{ bootstrap.load_js() }}
	{% endblock %}
	{% block tail %}
	{% endblock tail %}
</body>

</html>