{% extends "base.html" %}
{% block title %}Demo{% endblock title %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/demo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
{% endblock style %}
{% block content %}
<div id="ttrpart">
    <div class="d-sm-flex flex-wrap">
        <div class="flex-column- flex-fill col-ls-4" style="padding: 0.25em; margin-left:1%; margin-right:1%;">
            <label for="axioms">Type in the axioms</label><br>
            <textarea class="form-control" id="axioms" rows="20"></textarea>
        </div>
        <div class="flex-column- flex-fill col-ls-4" style="padding: 0.25em; margin-left:1%; margin-right:1%;">
            <label for="query">Type in the query</label><br>
            <textarea class="form-control" id="query" rows="20"></textarea>
        </div>
    </div>
    <div class="d-flex flex-wrap align-items-center" style="padding-top: 1em; padding-bottom: 1em; margin-left:1.25%;">
        <select id="UseCase" class="dropdown">
            <option value="check_consistency" class="dropdown-item">Check Consistency</option>
            <option value="prove" class="dropdown-item">Prove</option>
            <option value="answer_query" class="dropdown-item">Query</option>
        </select>

        <button id="ttr" class="btn btn-primary" onclick="submit_post();" style="margin-left:10px">Submit</button>
        <button id="reset" class="btn btn-warning" onclick="reset();" style="margin-left:10px">Reset</button>
    </div>
</div>
{% endblock content %}