{% extends "base.html" %}
{% block title %}OWL to Speech{% endblock title %}
{% block content %}
	<div id="inputpart">
		<label for="story">Please upload the OWL file:</label>
		<input type="file" name="owlfile" id="story"><br>
		<button id="ota" onclick="uploadowl();">OWL to ACE</button>

	</div>
	<div id="textpart">
		<textarea id="text" cols="60" rows="20">Waiting for the input....</textarea>
		<button id="ATS" onclick="uploadText();">Text to Speech</button>
	</div>
	<div align="left">
		<audio id="audio" controls>
			<source id="audio_source" src="#" type="audio/mpeg" >
		</audio>
	</div>
{% endblock content %}
{% block scripts %}

	var fname=[];
	function uploadowl(){
		var story = document.getElementById("story").files[0];
		var output = document.getElementById("text").value;
		if( story != ''  && output != ''){
			var filename=(new Date().toISOString()).replace(/:/g,"_");
			fname.push(filename);
			var output_text=document.getElementById("text");
			output_text.innerHTML="Reasoning...";
		}

		var up= new FormData();
		up.append('filename',filename);
		up.append('story',story);
		$.ajax({
			type: 'POST',
			url: '/savetxt',
			data: up,
			processData: false,
			contentType: false
		}).done(function(data){
			result = document.getElementById("text");
			console.log(data['result']);
			if(data['result'] == 'True'){
				result.innerHTML = 'Yes.';
			}
			else if(data['result'] == 'False'){
				result.innerHTML = 'False.';
			}
			else{
				result.innerHTML = data['result'];
			}
		}).fail(function(jQXHR,textStatus,error){
			console.log('Upload failed');
		});
	}

	function uploadText(){
		var text=document.getElementById("text").value;
		var up =new FormData();
		up.append('voice','female2');
		up.append('text',text);
		console.log(text);
		$.ajax({
			type: 'POST',
			url: '/TTSapi',
			data: up,
			processData: false,
			contentType: false	
		}).done(function(data){
		console.log("Text to Speech upload successful!");
		document.getElementById("audio_source").src="";
		document.getElementById("audio_source").src="{{ url_for('static',filename='output.mp3')}}";
		var aud = document.getElementById("audio");
		aud.load();
		aud.play();

		if(data['result'] == true)
			console.log("Reload successfully!!!");
		else 
			console.log("TTS Failed");

		}).fail(function(jqXHR,textStatus,error){
			console.log("Upload text failed!");
		});

		}
{% endblock scripts %}