{% extends "base.html" %}
{% block title %}Speech to text{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
{% endblock head %}
{% block content %}

<div class="container">
    <div class="row">
        <button type="button" class="btn btn-primary" id="record-button" onclick="startRecording(this);">Record</button>
        <button type="button" class="btn btn-primary" id="stop-button" onclick="stopRecording(this);" disabled>Stop</button>
        <button type="button" class="btn btn-primary" id="recognise-button" onclick="#" disabled>Recognise</button>
    </div>
    <div class="row">
        <div class="card" style="width: 100%">
            <div class="card-header">
                Status
            </div>
            <div class="card-body">
                <p class="card-text">Nothing has been done yet. Try recording something!</p>
            </div>
        </div>
    </div>
</div>

<div

{% endblock content %}

{% block script %}
<!--adding the text/javascript to this page-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type=text/javascript src="{{url_for('static', filename='js/common.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/speech_to_text.js')}}"></script>
<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
{% endblock script%}