{% extends "base.html" %}
{% block title %}Speech to text{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
<style type='text/css'>
    ul { list-style: none; }
    #recordingslist audio { display: block; margin-bottom: 10px; }
</style>
{% endblock head %}
{% block content %}

<div class="container">
    <div class="row">
        <button type="button" class="btn btn-primary" id="record-button" onclick="startRecording(this);">Record</button>
        <button type="button" class="btn btn-primary" id="stop-button" onclick="stopRecording(this);" disabled>Stop</button>
        <button type="button" class="btn btn-primary" id="recognise-button" onclick="#" disabled>Recognise</button>
    </div>
    <div class="row">
        <h2>Recordings</h2>
    </div>
    <div clas="row">
        <ul id="recordingslist"></ul>
    </div>
</div>

<div

{% endblock content %}

{% block script %}
{% endblock script %}

{% block tail %}
<!--adding the text/javascript to this page-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type=text/javascript src="{{url_for('static', filename='js/common.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/speech_to_text.js')}}"></script>
<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
{% endblock tail %}