{% extends "base.html" %}
{% block title %}Text To Race{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
{% endblock head %}

{% block content %}
<script type=text/javascript src="{{url_for('static', filename='js/cookie_handler.js')}}"></script>
<script>
	window.onload = set_text();
</script>

<div id="ttrpart">
    <div class="d-sm-flex flex-wrap">
        <div class="flex-column- flex-fill" style="padding: 0.25em;">
            <label for="axioms">Type in the axioms</label><br>
            <textarea class="form-control" id="axioms" rows="20"></textarea>
        </div>
        <div class="flex-column- flex-fill" style="padding: 0.25em;">
            <label for="query">Type in the query</label><br>
            <textarea class="form-control" id="query" rows="20"></textarea>
        </div>
    </div>
    <div class="d-flex flex-wrap align-items-center" style="padding-top: 1em; padding-bottom: 1em;">
        <select id="UseCase" class="dropdown">
            <option value="check_consistency" class="dropdown-item">Check Consistency</option>
            <option value="prove" class="dropdown-item">Prove</option>
            <option value="answer_query" class="dropdown-item">Query</option>
        </select>

        <button id="ttr" class="btn btn-primary" onclick="submit_post();">Submit</button>
        <button id="reset" class="btn btn-secondary" onclick="reset();">Reset</button>
    </div>
</div>

{% endblock content %}

{% block tail %}
<script type=text/javascript src="{{url_for('static', filename='js/common.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/send_tts.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/submit_post.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/reset.js')}}"></script>
{% endblock tail %}