{% extends "base.html" %}
{% block title %}TextToRace{% endblock title %}

{% block content %}


<script type=text/javascript src="{{url_for('static', filename='js/TextToRace.js')}}"></script>

<div id="ttrpart">
    <label for="output">Please input the text</label><br>
    <textarea id="output" cols="60" rows="20">Input...</textarea>
    <br>
    <select id="UseCase">
        <option value="CheckConsistency">Check Consistency</option>
        <option value="Prove">Prove</option>
        <option value="Query">Query</option>
    </select>
    <button id="ttr" onclick="uploadTextTTR();">Text to race</button>
    <button id="delete" onclick="deleteText();">Reset</button>
</div>

{% endblock content %}