{% extends "base.html" %}
{% block title %}TextToRace{% endblock title %}

{% block content %}


<script type=text/javascript src="{{url_for('static', filename='js/TextToRace.js')}}"></script>

<div id="ttrpart">
    <label for="axioms">Type in the axioms</label><br>
    <textarea id="axioms" cols="60" rows="20">Input...</textarea><br>
    <label for="query">Type in the query</label><br>
    <textarea id="query" cols="60" rows="20">Input...</textarea>
    <br>
    <select id="UseCase">
        <option value="check_consistency">Check Consistency</option>
        <option value="prove">Prove</option>
        <option value="answer_query">Query</option>
    </select>
    <button id="ttr" onclick="uploadTextTTR();">Text to race</button>
    <button id="delete" onclick="deleteText();">Reset</button>
</div>

{% endblock content %}