{% extends "base.html" %}
{% block title %}Text to Speech{% endblock title %}
{% block content %}
	<div id="ttspart">
		<label for="output">Please input the text</label><br>
		<textarea id="output" cols="60" rows="20">Waiting for the input....</textarea>
		<select id="voicegender">
			<option value="male1">Male1</option>
			<option value="male2">Male2</option>
			<option value="female1">Female1</option>
			<option value="female2">Female2</option>
			<option value="robot">Robot</option>
		</select>
		<button id="tts" onclick="uploadText();">Text to Speech</button>
		<button id="delete" onclick="deleteText();">Reset</button>
		<div align="left">
			<audio id="audio" controls>
				<source id="audio_source" src="#" type="audio/mpeg" >
			</audio>
		</div>
	</div>
{% endblock content %}

{% block scripts %}
	function uploadText(){
		var text=document.getElementById("output").value;
		var voice=document.getElementById("voicegender").value;
		var up =new FormData();
		up.append('voice',voice);
		up.append('text',text);
		console.log(text);
		$.ajax({
			type: 'POST',
			url: '/TTSapi',
			data: up,
			processData: false,
			contentType: false	
		}).done(function(data){
		console.log("Text to Speech upload successful!");
		document.getElementById("audio_source").src="";
		document.getElementById("audio_source").src="{{ url_for('static',filename='output.mp3')}}";
		var aud = document.getElementById("audio");
		aud.load();
		aud.play();

		if(data['result'] == true)
			console.log("Reload successfully!!!");
		else 
			console.log("TTS Failed");

		}).fail(function(jqXHR,textStatus,error){
			console.log("Upload text failed!");
		});

		}

		function deleteText()
		{
			$.ajax({
				type: 'POST',
				url: '/deleteText',
				data: '',
				processData: false,
				contentType: false
			}).done(function(data){
			document.getElementById("audio_source").src="";
			document.getElementById("output").value="Delete text Successful";
			location.reload();
		}).fail(function(jqXHR,textStatus,error){
			console.log("Delete text failed");
		});
			
		}
		
{% endblock scripts %}